</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Ges-User 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Déconnexion en cours ...</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Voulez-vous quitter ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <a class="btn btn-primary" href="{$url_base}Login/logout">Quitter</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{$url_base}public/template/vendor/jquery/jquery.min.js"></script>
<script src="{$url_base}public/template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="{$url_base}public/template/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="{$url_base}public/template/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="{$url_base}public/template/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="{$url_base}public/template/js/demo/chart-area-demo.js"></script>
<script src="{$url_base}public/template/js/demo/chart-pie-demo.js"></script>
<script>
    $(document).ready(function() {
        $('#message').delay(5000).fadeOut();

        //CRUD PRODUIT
        load_produits();
        $('#produit_form').on('submit', function(event) {
            event.preventDefault();
            if ($('#action').val() == 'Add') {
                $.ajax({
                    url: "{$url_base}Produit/add",
                    method: "post",
                    data: $('form').serialize(),
                    dataType: "json",
                    success: function(strMessage) {
                        $('#message').text(strMessage);
                        $('#modalProduit').modal('hide');
                        $('#produit_form')[0].reset();
                        load_produits();
                    }
                });
            }
            if ($('#action').val() == 'Edit') {
                $.ajax({
                    url: "{$url_base}Produit/Update",
                    data: $('form').serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        $('#message').text(result);
                        $('#modalProduit').modal('hide');
                        load_produits();
                    },
                });
            }
        });
        $(document).on('click', '.edit-produit', function() {
            var id = $(this).attr('id');
            $.ajax({
                url: "{$url_base}Produit/edit/" + id,
                method: "POST",
                dataType: "json",
                success: function(data) {
                    $('#modalProduit').modal('show');
                    $('#libelle').val(data.libelle);
                    $('#qteStock').val(data.qteStock);
                    $('#id').val(data.id);
                    $('#action').val("Edit");
                }
            });
        });
        $(document).on('click', '.delete-produit', function() {
            var id = $(this).attr("id");
            if (confirm("Etes vous sure de vouloir supprimer ?")) {
                $.ajax({
                    url: "{$url_base}Produit/delete/" + id,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $('#message').text(data);
                        //alert(data);
                        load_produits();
                    }
                });
            }
        });
        //>CRUD PRODUIT>
        //CRUD ENTREE
        load_entrees();
        $('#entree_form').on('submit', function(event) {
            event.preventDefault();
            if ($('#action').val() == 'Add') {
                $.ajax({
                    url: "{$url_base}Entree/add",
                    method: "post",
                    data: $('form').serialize(),
                    dataType: "json",
                    success: function(strMessage) {
                        $('#message').text(strMessage);
                        $('#modalEntree').modal('hide');
                        $('#entree_form')[0].reset();
                        load_entrees();
                    },
                    error: function() {
                        $('#message').text(strMessage);
                    }
                });
            }
            if ($('#action').val() == 'Edit') {
                $.ajax({
                    url: "{$url_base}Entree/Update",
                    data: $('form').serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        $('#message').text(result);
                        $('#modalEntree').modal('hide');
                        load_entrees();
                    },
                });
            }
        });
        $(document).on('click', '.edit-entree', function() {
            var id = $(this).attr('id');
            $.ajax({
                url: "{$url_base}Entree/edit/" + id,
                method: "POST",
                dataType: "json",
                success: function(data) {
                    $('#modalEntree').modal('show');
                    $('#produit_id').val(data.produit);
                    $('#dateE').val(data.dateE);
                    $('#qteE').val(data.qteE);
                    $('#id').val(data.id);
                    $('#action').val("Edit");
                }
            });
        });
        $(document).on('click', '.delete-entree', function() {
            var id = $(this).attr("id");
            if (confirm("Etes vous sure de vouloir supprimer ?")) {
                $.ajax({
                    url: "{$url_base}Entree/delete/" + id,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $('#message').text(data);
                        load_entrees();
                    }

                });
            }
        });
        //>CRUD ENTREE>
        //CRUD SORTIE
        load_sorties();
        $('#sortie_form').on('submit', function(event) {
            event.preventDefault();
            if ($('#action').val() == 'Add') {
                $.ajax({
                    url: "{$url_base}Sortie/add",
                    method: "post",
                    data: $('form').serialize(),
                    dataType: "json",
                    success: function(strMessage) {
                        $('#message').text(strMessage);
                        $('#modalSortie').modal('hide');
                        $('#sortie_form')[0].reset();
                        load_sorties();
                    },
                    error: function() {
                        $('#message').text(strMessage);
                    }
                });
            }
            if ($('#action').val() == 'Edit') {
                $.ajax({
                    url: "{$url_base}Sortie/Update",
                    data: $('form').serialize(),
                    type: "POST",
                    dataType: "json",
                    success: function(result) {
                        $('#message').text(result);
                        $('#modalSortie').modal('hide');
                        load_sorties();
                    },
                });
            }
        });
        $(document).on('click', '.edit-sortie', function() {
            var id = $(this).attr('id');
            $.ajax({
                url: "{$url_base}Sortie/edit/" + id,
                method: "POST",
                dataType: "json",
                success: function(data) {
                    $('#modalSortie').modal('show');
                    $('#produit_id').val(data.produit);
                    $('#dateS').val(data.dateS);
                    $('#qteS').val(data.qteS);
                    $('#id').val(data.id);
                    $('#action').val("Edit");
                }
            });
        });
        $(document).on('click', '.delete-sortie', function() {
            var id = $(this).attr("id");
            if (confirm("Etes vous sure de vouloir supprimer ?")) {
                $.ajax({
                    url: "{$url_base}Sortie/delete/" + id,
                    method: "POST",
                    dataType: "json",
                    success: function(data) {
                        $('#message').text(data);
                        load_sorties();
                    }
                });
            }
        });


    });



    //Chargement des produits dans le tableau
    function load_produits() {
        $.ajax({
            url: "{$url_base}Produit/load_produits",
            dataType: "json",
            success: function(result) {
                $('#result-produits').html(result);
            }
        });
    }
    //Chargement des entrees dans le tableau
    function load_entrees() {
        $.ajax({
            url: "{$url_base}Entree/load_entrees",
            dataType: "json",
            success: function(result) {
                $('#result-entrees').html(result);
            }
        });
    }
    //Chargement des sorties dans le tableau
    function load_sorties() {
        $.ajax({
            url: "{$url_base}Sortie/load_sorties",
            dataType: "json",
            success: function(result) {
                $('#result-sorties').html(result);
            }
        });
    }
</script>
</body>

</html>