{include file='src/view/header.html'}
<div class="container">
    <div class="card">
        <div class="card-header">Liste des roles</div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <th>Identifiant du role</th>
                    <th>Libelle du role</th>
                </tr>
                {foreach from=$roles item=role}
                <tr>
                    <td>{$role->getId()}</td>
                    <td>{$role->getNom()}</td>
                </tr>
                {/foreach}
            </table>

        </div>
    </div>
</div>
{include file='src/view/footer.html'}